  h1 {
    font-size: 40px;
    font-weight: bold;
    color: green;
    font-family: monospace;
    text-align:center;
    
  }

  p 
  {
    color: blue;
    margin-left:33%;
    margin-right:33%;
    text-align: center
  }

  h3 {
  font-weight: bold;
  color: orange;
  text-align: center;
  }


.image-row {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 10;
}
