body {
  background-color: rgb(250, 234, 244);
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgba(162, 21, 92, 0.63);
    font-family: monospace;
    text-align:center;
    text-shadow: 4px -2px pink;
    
  }

  p 
  {
    color: rgb(229, 85, 157);
    margin-left:33%;
    margin-right:33%;
    text-align: center
  }

  h3 {
  font-weight: bold;
  color: rgba(162, 21, 92, 0.63);
  text-align:center;
  }
    
img {
    border: solid;
    border-color: hotpink;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 37%;
    }
.overall {
  color:rgb(229, 85, 157);
}
.lappi_pic_link {
    border: solid;
    border-radius: 150px;
    border-color: forestgreen;
    margin-left: inherit 20%;
}
.sweden_pic_link {
  border: solid;
  border-radius:150px;
  border-color: royalblue;
  margin-left: inherit;
}
.austria_pic_link {
  border: solid;
  border-radius:150px;
  border-color: rgba(208, 54, 54, 0.78);
  margin-left: inherit;
}
.lappi_pic {
    float: inherit;
    border: solid;
    border-color: rgb(49, 126, 31);
    border-width: 4px;
    border-radius: 10px;
    margin-left: auto 15%
}
.lappi {
  color:forestgreen
}

.sweden_pic {
  border: solid;
  border-color: rgba(54, 107, 208, 0.78);
  border-width: 4px;
  border-radius: 10px;
}
.sweden {
  color: royalblue
}
.austria_pic {
  border: solid;
  border-color: rgba(208, 54, 54, 0.78);
  border-width: 4px;
  border-radius: 10px;
}
.austria {
  color: #d33a3a;
  
}
